{%extends 'base.html'%}
{%load static%}
{%block title%}Home{%endblock title%}
{%block style%}
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
{%endblock style%}

{%block content%}

<div class="d-flex flex-column min-vh-85 min-vw-90">
    <div class="d-flex flex-grow-1 justify-content-center align-items-center">
        <div class="bg-success-vh-100">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col" style="color:#B30E50;">B</th>
                    <th scope="col" style="color:#FF3300 ;">I</th>
                    <th scope="col" style="color:#FC4B54 ;">N</th>
                    <th scope="col" style="color:#FD882D;">G</th>
                    <th scope="col" style="color:#43C2C1 ;">0</th>
                  </tr>
                </thead>
                <tbody id="bingo-table-body">
                  <tr>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

<div id="example-div" class="border d-flex aligns-items-center justify-content-center">
    <div class="bingo-circ position-relative">
        <p class="position-absolute top-50 translate-middle" id="random-number">5</p>
    </div>
</div>
{%endblock content%}

{%block script%}
<script src="{%static 'js/main.js'%}"></script>
{%endblock script%}