{%extends 'base.html'%}
{%load static%}
{%block title%}Home{%endblock title%}
{%block style%}
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
{%endblock style%}

{%block content%}

<div class="d-flex flex-column min-vh-100 min-vw-100">
    <div class="d-flex flex-grow-1 justify-content-center align-items-center">
        <div class="bg-success-vh-100">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                    <td>
                        <div class="bingo-circ position-relative">
                            <p class="position-absolute top-50 translate-middle">10</p>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
{%endblock content%}